USE [AttendanceDB]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 22/04/26 3:07:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeCode] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[Department] [nvarchar](100) NULL,
	[Position] [nvarchar](100) NULL,
	[FaceDescriptor] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EmployeeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

-- Thêm bảng Departments (chỉ làm danh sách gợi ý, không FK)
CREATE TABLE [dbo].[Departments] (
    [Id]       INT           IDENTITY(1,1) NOT NULL,
    [Name]     NVARCHAR(100) NOT NULL,
    [IsActive] BIT           NOT NULL DEFAULT (1),
    CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED ([Id] ASC),
    CONSTRAINT [UQ_Departments_Name] UNIQUE ([Name])
)
GO

-- Insert dữ liệu mẫu
INSERT INTO [dbo].[Departments] ([Name]) VALUES
    (N'Ban Giám Đốc'),
    (N'Phòng Kế Toán'),
    (N'Phòng Kỹ Thuật'),
    (N'Phòng Kinh Doanh'),
    (N'Phòng Nhân Sự'),
    (N'Phòng Marketing'),
    (N'Phòng Hành Chính'),
    (N'Phòng IT')
GO


-- =============================================
-- Bảng: AppUsers (Tài khoản hệ thống)
-- =============================================
CREATE TABLE [dbo].[AppUsers] (
    [Id]           INT            IDENTITY(1,1) NOT NULL,
    [Username]     NVARCHAR(50)   NOT NULL,
    [PasswordHash] NVARCHAR(255)  NOT NULL,
    [FullName]     NVARCHAR(100)  NOT NULL,
    [Role]         NVARCHAR(20)   NOT NULL DEFAULT ('User'),  -- Admin | Manager | User
    [IsActive]     BIT            NOT NULL DEFAULT (1),
    [CreatedAt]    DATETIME       NOT NULL DEFAULT (GETDATE()),
    [LastLoginAt]  DATETIME       NULL,

    CONSTRAINT [PK_AppUsers] PRIMARY KEY CLUSTERED ([Id] ASC),
    CONSTRAINT [UQ_AppUsers_Username] UNIQUE ([Username]),
    CONSTRAINT [CK_AppUsers_Role] CHECK ([Role] IN ('Admin', 'Manager', 'User'))
)
GO

ALTER TABLE [dbo].[AppUsers]
ADD [LastLogoutAt] DATETIME NULL;

ALTER TABLE [dbo].[AppUsers]
ADD [EmployeeId] INT NULL;

ALTER TABLE [dbo].[AppUsers]
ADD CONSTRAINT [FK_AppUsers_Employees]
    FOREIGN KEY ([EmployeeId]) REFERENCES [dbo].[Employees]([Id])
    ON DELETE SET NULL;

CREATE NONCLUSTERED INDEX [IX_AppUsers_EmployeeId]
ON [dbo].[AppUsers] ([EmployeeId] ASC);

-- Index tìm kiếm nhanh theo Username (dùng lúc login)
CREATE NONCLUSTERED INDEX [IX_AppUsers_Username] ON [dbo].[AppUsers] ([Username] ASC)
GO

CREATE NONCLUSTERED INDEX [IX_AppUsers_IsActive] ON [dbo].[AppUsers] ([IsActive] ASC)
GO

-- =============================================
-- Seed tài khoản Admin mặc định
-- Password: Admin@123  (BCrypt hash)
-- =============================================
INSERT INTO [dbo].[AppUsers] ([Username], [PasswordHash], [FullName], [Role], [IsActive])
VALUES (
    'admin',
    '$2a$11$3P2Y5M6vXkQwZ8nR4tL1OeHjKmN9sD7fUiA0bCgEpVqWyXzJoT5u2',
    N'Quản Trị Viên',
    'Admin',
    1
)
GO


/****** Object:  Table [dbo].[AttendanceRecords]    Script Date: 22/04/26 3:07:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttendanceRecords](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[CheckInTime] [datetime] NOT NULL,
	[CheckOutTime] [datetime] NULL,
	[Location] [nvarchar](100) NULL,
	[Latitude] [float] NULL,
	[Longitude] [float] NULL,
	[Accuracy] [float] NULL,
	[FaceMatchScore] [float] NULL,
	[Notes] [nvarchar](500) NULL,
	[IsManualEntry] [bit] NOT NULL,
	[CheckOutLatitude] [float] NULL,
	[CheckOutLongitude] [float] NULL,
	[CheckOutAccuracy] [float] NULL,
	[CheckInIp] [nvarchar](45) NULL,
	[CheckOutIp] [nvarchar](45) NULL,
	[CheckInFaceImageUrl] [nvarchar](500) NULL,
	[CheckOutFaceImageUrl] [nvarchar](500) NULL,
	[CheckInDistanceMeters] [float] NULL,
	[CheckOutDistanceMeters] [float] NULL,
	[CheckInDeviceInfo] [nvarchar](500) NULL,
	[CheckOutDeviceInfo] [nvarchar](500) NULL,
	[CheckInLocalIp] [nvarchar](45) NULL,
	[CheckOutLocalIp] [nvarchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_TodayAttendance]    Script Date: 22/04/26 3:07:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Bảng: LoginLogs (Lịch sử đăng nhập)
-- =============================================
CREATE TABLE [dbo].[LoginLogs] (
    [Id]        INT            IDENTITY(1,1) NOT NULL,
    [UserId]    INT            NOT NULL,
    [Username]  NVARCHAR(50)   NOT NULL,
    [FullName]  NVARCHAR(100)  NOT NULL,
    [Role]      NVARCHAR(20)   NOT NULL DEFAULT ('User'),
    [LoginAt]   DATETIME       NOT NULL DEFAULT (GETDATE()),
    [LogoutAt]  DATETIME       NULL,
    [IpAddress] NVARCHAR(45)   NOT NULL DEFAULT (''),
    [UserAgent] NVARCHAR(500)  NOT NULL DEFAULT (''),

    CONSTRAINT [PK_LoginLogs] PRIMARY KEY CLUSTERED ([Id] ASC),
    CONSTRAINT [FK_LoginLogs_AppUsers]
        FOREIGN KEY ([UserId]) REFERENCES [dbo].[AppUsers]([Id])
        ON DELETE CASCADE
)
GO

-- Index tìm kiếm nhanh theo UserId và thời gian
CREATE NONCLUSTERED INDEX [IX_LoginLogs_UserId]
    ON [dbo].[LoginLogs] ([UserId] ASC)
GO

CREATE NONCLUSTERED INDEX [IX_LoginLogs_LoginAt]
    ON [dbo].[LoginLogs] ([LoginAt] DESC)
GO


-- =============================================
-- Bảng: SalaryRecords (Bảng lương theo tháng)
-- =============================================
CREATE TABLE [dbo].[SalaryRecords] (
    [Id]                    INT             IDENTITY(1,1) NOT NULL,
    [EmployeeId]            INT             NOT NULL,
    [Month]                 INT             NOT NULL,   -- 1-12
    [Year]                  INT             NOT NULL,

    -- ===== Thông tin lao động =====
    [TrainingType]          NVARCHAR(100)   NULL,       -- Loại đào tạo
    [LaborType]             NVARCHAR(100)   NULL,       -- Loại lao động

    -- ===== Lương cơ bản =====
    [BasicSalary]           DECIMAL(18,2)   NOT NULL DEFAULT (0), -- Lương căn bản
    [RequiredWorkDays]      INT             NOT NULL DEFAULT (26), -- SL ngày phải đi làm đủ
    [DailyWage]             AS (CASE WHEN [RequiredWorkDays] > 0
                                THEN CAST([BasicSalary] / [RequiredWorkDays] AS DECIMAL(18,2))
                                ELSE 0 END) PERSISTED,            -- Tiền công ngày (tính tự động)

    -- ===== Các khoản trừ / phụ =====
    [Advance]               DECIMAL(18,2)   NOT NULL DEFAULT (0), -- Tạm ứng
    [Damage]                DECIMAL(18,2)   NOT NULL DEFAULT (0), -- Đền thiệt hại
    [UniformFee]            DECIMAL(18,2)   NOT NULL DEFAULT (0), -- Tiền đồng phục
    [LunchPrice]            DECIMAL(18,2)   NOT NULL DEFAULT (0), -- Giá cơm trưa / ngày
    [Violation]             DECIMAL(18,2)   NOT NULL DEFAULT (0), -- Vi phạm

    -- ===== Bảo hiểm =====
    [HasInsurance]          BIT             NOT NULL DEFAULT (0), -- Có bảo hiểm

    -- ===== Làm thêm =====
    [OvertimeDays]          INT             NOT NULL DEFAULT (0), -- Làm thêm ngày
    [OvertimeDayPay]        DECIMAL(18,2)   NOT NULL DEFAULT (0), -- Tiền làm thêm / ngày

    -- ===== Các khoản cộng thêm =====
    [ResponsibilitySalary]  DECIMAL(18,2)   NOT NULL DEFAULT (0), -- Lương trách nhiệm
    [AttendanceBonusAmount] DECIMAL(18,2)   NOT NULL DEFAULT (0), -- Thưởng chuyên cần
    [PreviousMonthSalary]   DECIMAL(18,2)   NOT NULL DEFAULT (0), -- Lương tháng trước
    [RevenueBonus]          DECIMAL(18,2)   NOT NULL DEFAULT (0), -- Thưởng doanh thu

    -- ===== Ghi chú =====
    [JobDescription]        NVARCHAR(500)   NULL,  -- Mô tả công việc
    [Signature]             NVARCHAR(200)   NULL,  -- Kí nhận
    [Note]                  NVARCHAR(500)   NULL,  -- Ghi chú

    -- ===== Audit =====
    [CreatedAt]             DATETIME        NOT NULL DEFAULT (GETDATE()),
    [UpdatedAt]             DATETIME        NULL,

    CONSTRAINT [PK_SalaryRecords] PRIMARY KEY CLUSTERED ([Id] ASC),

    -- Mỗi nhân viên chỉ có 1 bản ghi lương / tháng / năm
    CONSTRAINT [UQ_SalaryRecords_EmpMonthYear]
        UNIQUE ([EmployeeId], [Month], [Year]),

    CONSTRAINT [FK_SalaryRecords_Employees]
        FOREIGN KEY ([EmployeeId]) REFERENCES [dbo].[Employees]([Id])
        ON DELETE CASCADE,

    CONSTRAINT [CK_SalaryRecords_Month]
        CHECK ([Month] BETWEEN 1 AND 12),

    CONSTRAINT [CK_SalaryRecords_Year]
        CHECK ([Year] BETWEEN 2000 AND 2100)
)
GO

-- Index tìm kiếm nhanh theo tháng/năm
CREATE NONCLUSTERED INDEX [IX_SalaryRecords_MonthYear]
    ON [dbo].[SalaryRecords] ([Year] DESC, [Month] DESC)
GO

CREATE NONCLUSTERED INDEX [IX_SalaryRecords_EmployeeId]
    ON [dbo].[SalaryRecords] ([EmployeeId] ASC)
GO


-- Bảng [AttendanceEditLogs] -- sửa chữa lịch sử chấm công
CREATE TABLE [dbo].[AttendanceEditLogs] (
    [Id]               INT           IDENTITY(1,1) NOT NULL,
    [AttendanceRecordId] INT         NOT NULL,
    [EditedByUserId]   INT           NOT NULL,
    [EditedByUsername] NVARCHAR(50)  NOT NULL,
    [EditedAt]         DATETIME      NOT NULL DEFAULT (GETDATE()),
    [OldCheckInTime]   DATETIME      NOT NULL,
    [OldCheckOutTime]  DATETIME      NULL,
    [NewCheckInTime]   DATETIME      NOT NULL,
    [NewCheckOutTime]  DATETIME      NULL,
    [Reason]           NVARCHAR(500) NULL,
    [EditCount]        INT           NOT NULL DEFAULT (1),

    CONSTRAINT [PK_AttendanceEditLogs] PRIMARY KEY CLUSTERED ([Id] ASC),
    CONSTRAINT [FK_AttendanceEditLogs_AttendanceRecords]
        FOREIGN KEY ([AttendanceRecordId])
        REFERENCES [dbo].[AttendanceRecords]([Id])
        ON DELETE CASCADE,
    CONSTRAINT [FK_AttendanceEditLogs_AppUsers]
        FOREIGN KEY ([EditedByUserId])
        REFERENCES [dbo].[AppUsers]([Id])
        ON DELETE NO ACTION  -- Không xóa log khi xóa user
)
GO

CREATE NONCLUSTERED INDEX [IX_AttendanceEditLogs_RecordId]
    ON [dbo].[AttendanceEditLogs] ([AttendanceRecordId] ASC)
GO

-- =============================================
-- VIEW: Tổng quan chấm công hôm nay
-- =============================================
CREATE VIEW [dbo].[vw_TodayAttendance] AS
SELECT 
    e.EmployeeCode,
    e.FullName,
    e.Department,
    a.CheckInTime,
    a.CheckOutTime,
    a.Location,
    a.Latitude,
    a.Longitude,
    a.Accuracy,
    a.FaceMatchScore,
    CASE 
        WHEN a.CheckOutTime IS NULL THEN N'Đang làm việc'
        ELSE N'Đã ra về'
    END AS Status,
    DATEDIFF(HOUR, a.CheckInTime, ISNULL(a.CheckOutTime, GETDATE())) AS WorkHours,
    CASE 
        WHEN a.Latitude IS NOT NULL AND a.Longitude IS NOT NULL 
        THEN CONCAT('GPS: ', CAST(a.Latitude AS VARCHAR(20)), ', ', CAST(a.Longitude AS VARCHAR(20)))
        ELSE N'Chưa có GPS'
    END AS GPSInfo
FROM Employees e
INNER JOIN AttendanceRecords a ON e.Id = a.EmployeeId
WHERE CAST(a.CheckInTime AS DATE) = CAST(GETDATE() AS DATE);

GO

/****** Object:  Table [dbo].[CompanySettings]    Script Date: 22/04/26 3:07:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanySettings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CompanyLocationUrl] [nvarchar](1000) NULL,
	[CompanyLat] [float] NULL,
	[CompanyLng] [float] NULL,
	[LocationAcceptThresholdMeters] [float] NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

-- Tạo bảng Permissions và RolePermissions (sử dụng RoleName string để tương thích với AppUsers.Role hiện tại)
CREATE TABLE [dbo].[Permissions] (
    [Id] INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
    [Name] NVARCHAR(200) NOT NULL UNIQUE,   -- e.g. 'Employees.View'
    [Description] NVARCHAR(500) NULL
);

CREATE TABLE [dbo].[RolePermissions] (
    [Id] INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
    [RoleName] NVARCHAR(50) NOT NULL,       -- 'Admin' | 'Manager' | 'User'
    [PermissionId] INT NOT NULL,
    CONSTRAINT FK_RolePermissions_Permissions FOREIGN KEY (PermissionId)
        REFERENCES dbo.Permissions(Id) ON DELETE CASCADE
);

-- Seed permissions (tùy chỉnh theo nhu cầu)
INSERT INTO dbo.Permissions ([Name], [Description]) VALUES
    (N'Register.Manage', N'Quản lý đăng kí khuôn mặt'),
    (N'Users.Manage', N'Quản lý tài khoản người dùng'),
    (N'Employees.View', N'Xem danh sách nhân viên'),
    (N'Employees.Edit', N'Thêm/sửa nhân viên'),
    (N'Attendance.CheckIn', N'Check in/Check out'),
    (N'Attendance.ViewAll', N'Xem toàn bộ bản ghi lịch sử chấm công'),
    (N'Settings.Edit', N'Chỉnh sửa cấu hình công ty'),
    (N'Reports.View', N'Xem báo cáo'),
	(N'Home.View', N'Xem trang chủ');
-- Map roles -> permissions 
-- Admin: all permissions
INSERT INTO dbo.RolePermissions (RoleName, PermissionId)
SELECT 'Admin', Id FROM dbo.Permissions;

-- Manager: 
INSERT INTO dbo.RolePermissions (RoleName, PermissionId)
SELECT 'Manager', Id FROM dbo.Permissions;


-- User: basic check-in + view own
INSERT INTO dbo.RolePermissions (RoleName, PermissionId)
SELECT 'User', Id FROM dbo.Permissions
WHERE Name IN ('Attendance.CheckIn', 'Home.View', 'Register.Manage');


-- Optional: Token version column để hỗ trợ revoke token (tăng khi thay đổi quyền)
IF COL_LENGTH('dbo.AppUsers', 'TokenVersion') IS NULL
BEGIN
    ALTER TABLE dbo.AppUsers ADD TokenVersion INT NOT NULL DEFAULT(0);
END


/****** Object:  Index [IX_AttendanceRecords_CheckInTime]    Script Date: 22/04/26 3:07:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_AttendanceRecords_CheckInTime] ON [dbo].[AttendanceRecords]
(
	[CheckInTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AttendanceRecords_EmployeeId]    Script Date: 22/04/26 3:07:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_AttendanceRecords_EmployeeId] ON [dbo].[AttendanceRecords]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AttendanceRecords_GPS]    Script Date: 22/04/26 3:07:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_AttendanceRecords_GPS] ON [dbo].[AttendanceRecords]
(
	[Latitude] ASC,
	[Longitude] ASC
)
WHERE ([Latitude] IS NOT NULL AND [Longitude] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Employees_EmployeeCode]    Script Date: 22/04/26 3:07:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_Employees_EmployeeCode] ON [dbo].[Employees]
(
	[EmployeeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Employees_IsActive]    Script Date: 22/04/26 3:07:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_Employees_IsActive] ON [dbo].[Employees]
(
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AttendanceRecords] ADD  DEFAULT ((0)) FOR [IsManualEntry]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[AttendanceRecords]  WITH CHECK ADD  CONSTRAINT [FK_AttendanceRecords_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AttendanceRecords] CHECK CONSTRAINT [FK_AttendanceRecords_Employees]
GO
/****** Object:  StoredProcedure [dbo].[sp_CheckTodayAttendance]    Script Date: 22/04/26 3:07:49 PM ******/
SET ANSI_NULLS ON 
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- STORED PROCEDURE: Kiểm tra chấm công hôm nay
-- =============================================
CREATE PROCEDURE [dbo].[sp_CheckTodayAttendance]
    @EmployeeId INT
AS
BEGIN
    SELECT TOP 1 
        Id, 
        EmployeeId, 
        CheckInTime, 
        CheckOutTime,
        Location,
        Latitude,
        Longitude,
        Accuracy,
        FaceMatchScore
    FROM AttendanceRecords
    WHERE EmployeeId = @EmployeeId
      AND CAST(CheckInTime AS DATE) = CAST(GETDATE() AS DATE)
    ORDER BY CheckInTime DESC;
END

GO

select * from dbo.Employees

select * from dbo.AttendanceRecords

select * from dbo.AppUsers

select * from dbo.Permissions

select * from dbo.RolePermissions

DELETE FROM AttendanceRecords;
DELETE FROM LoginLogs;
DELETE FROM AppUsers WHERE Username != 'admin'; -- Giữ lại admin
DELETE FROM Employees;

UPDATE AppUsers 
SET EmployeeId = (SELECT Id FROM Employees WHERE FullName = 'Administrator')
WHERE Username = 'Admin'


SELECT Id, Username, FullName, Role, IsActive, EmployeeId
FROM AppUsers
WHERE EmployeeId IS NULL
ORDER BY Id;

SELECT 
    u.Id        AS UserId,
    u.Username,
    u.FullName  AS UserFullName,
    u.Role,
    u.EmployeeId,
    e.Id        AS EmployeeId_InTable,
    e.FullName  AS EmployeeFullName,
    e.EmployeeCode
FROM AppUsers u
LEFT JOIN Employees e ON u.EmployeeId = e.Id
ORDER BY u.Id;



